[user]
    name = Tom Zakrajsek
	email = tomz@codeaurora.org

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto

[core]
    excludesfile = /home/tomz/.gitignore_global
    deltaBaseCacheLimit = 2G

[http]
    sslVerify = false

[alias]
    co = checkout
    ci = commit
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    lol = log --oneline --graph --decorate
    st = status -uno
    last = log -1 HEAD

[diff]
    ignoreSubmodules = all

[push]
    default = simple
