[user]
    name = Tom Zakrajsek
    email = tomz@codeaurora.org

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto

[color "decorate"]
    branch = white
    remoteBranch = blue bold
    tag = green bold
    stash = green
    HEAD = green

[core]
    excludesfile = /home/tomz/.gitignore_global
    deltaBaseCacheLimit = 2G

[http]
    sslVerify = false

[alias]
    co = checkout
    ci = commit
    br = branch
    lgo = log
    hist = log --pretty=format:\"%cd %C(blue bold)%h%C(reset) | %s%d [%C(blue bold)%ae%Creset]\" --graph --date=short-local --abbrev=9 --decorate
    lol = log --oneline --graph --decorate --abbrev=9
    st = status -uno
    last = log -1 HEAD
    cp = cherry-pick -x

[diff]
    ignoreSubmodules = all
    renamelimit = 5000

[push]
    default = simple

[merge]
    renamelimit = 5000

[gc]
    auto=1
